<ng-container *ngIf="battleService.battle$ | async as battles else loader">

  <div *ngFor="let battle of battles; index as i">
    <h1>{{battle.name}}</h1>
    <p *ngFor="let attribute of battleService.battleData$ | async">{{labels[attribute]}}: {{battle[attribute]}}</p>
    <strong *ngIf="battleService.questionAttribute as attr">
      {{attr}}
      = {{(gameService.correctAnswer$ | async) !== null ? (battle[attr] === 0 ? 'unknown' : battle[attr]) : '?' }}</strong>
    <mat-button-toggle-group *ngIf="i===0" name="questionAttribute" aria-label="Attribute" vertical="true">
      <mat-button-toggle
        *ngFor="let attribute of battleService.battleAttributes$ | async"
        (click)="updateQuestion(attribute)"
        disabled="{{gameService.roundFreeze$ | async}}"
        checked="{{battleService.questionAttribute === attribute}}"
        value="{{labels[attribute]}}">{{labels[attribute]}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

</ng-container>

<ng-template #loader>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>

