<div class="votes-container" data-testid="votesContainer">
  <ng-container *ngIf="!(gameService.isGameEnded$ | async); else empty">

    <div class="votes" *ngIf="battleService.battle$ | async as battle">
      <div class="vote-buttons">
        <p>Player1</p>
        <mat-button-toggle-group name="playerOneVote" class="vote-one" aria-label="First player vote">
          <mat-button-toggle
            (click)="gameService.vote(0, answer.FIRST_TILE)"
            disabled="{{gameService.roundFreeze$ | async}}"
            data-testid="vote1a"
            value="{{0}}">Vote A
          </mat-button-toggle>
          <mat-button-toggle
            (click)="gameService.vote(0, answer.SECOND_TILE)"
            disabled="{{gameService.roundFreeze$ | async}}"
            data-testid="vote1b"
            value="{{1}}">Vote B
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="vote-buttons">
        <p>Player2</p>
        <mat-button-toggle-group name="playerTwoVote" class="vote-two" aria-label="Second player vote">
          <mat-button-toggle
            (click)="gameService.vote(1, answer.FIRST_TILE)"
            disabled="{{gameService.roundFreeze$ | async}}"
            data-testid="vote2a"
            value="{{0}}">Vote A
          </mat-button-toggle>
          <mat-button-toggle
            (click)="gameService.vote(1,answer.SECOND_TILE)"
            disabled="{{gameService.roundFreeze$ | async}}"
            data-testid="vote2b"
            value="{{1}}">Vote B
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #empty>
  <div [ngStyle]="{height: '80px'}" data-testid="empty"></div>
</ng-template>
