<div class="reveal-container">
  <ng-container *ngIf="!(gameService.isGameEnded$ | async); else newGameTmpl">
    <ng-container *ngIf="battleService.battle$ | async; else loader">
      <ng-container *ngIf="summary$ | async; else revealTmpl">
        <button
          mat-raised-button
          color="secondary"
          data-testid="controlBtn"
          (click)="nextRound()">
          {{gameService.round < gameService.gameLength - 1 ? "Next round" : "End Game"}}
        </button>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #revealTmpl>
  <button
    mat-raised-button color="secondary"
    data-testid="controlBtn"
    disabled="{{waitForVotes$ | async}}"
    (click)="reveal()"> {{gameService.round < gameService.gameLength - 1 ? "Reveal" : "Last reveal"}}
  </button>
</ng-template>

<ng-template #newGameTmpl>
  <button
    mat-raised-button color="secondary"
    data-testid="controlBtn"
    (click)="reset()">Start new Game
  </button>
</ng-template>

<ng-template #loader class="loader" data-testid="loader">
  <p>WAITING FOR NEW BATTLE....</p>
</ng-template>
