@import 'src/app/styles/palette.style.scss';

.score-container {
  background: $mainDark;
  color: $mainLight;
  font-size: 1.6em;
  margin: auto;
  width: 100vw;

  p {
    margin: 0;
  }
}

.score {
  width: 480px;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.score-one {
  padding: 0 20px;
  color: $playerOneLight;
}

.score-two {
  padding: 0 20px;
  color: $playerTwoLight;
}
